    <td class="cart-item-quantity" data-hook="cart_item_quantity">
      Laufmeter/Stk.
      <%= item_form.number_field :quantity, :min => 0, :class => "line_item_quantity", :size => 5, :step => 0.5 %>
    </td>
